<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        .wrapper{
            width: 500px;
            margin: 0 auto;
        }
    </style>
</head>

<div style="margin-left: 50px; margin-top:50px">
  <h1>Bonjour</h1>
  <div>Bienvenue</div>
</div>
<p>
  <ul>
    <li><a href="editPages.php">Afficher les pages</a></li>
    <li><a href="create.php">Creer une page</a></li>
  </ul>
</p>
<li style="margin-top:50px;"><a href="/auth/logoutAction">Logout</a></li>
